<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchString">
    <div class="input-group-append">
      <button class="btn btn-dark" type="button" (click)="searchMovie()">Search</button>
    </div>
  </div>
  <p id="note">Searching for an empty string will return Latest Movies</p>
</div>
<div class="container">
  <h1>{{SearchMessage}}</h1>
  <ngx-datatable class="material table" [rows]="listOfMovies" [headerHeight]="50" [footerHeight]="50" [limit]="5" [columnMode]="'force'" [rowHeight]="'auto'">
    <ngx-datatable-column class="material" name="Movie Id">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.id}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.title}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Similar">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button type="button" class="btn btn-outline-secondary"(click)="openSimilarDialog(row.id)">similar</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Details">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <i class="material-icons grey md-36" (click)="openDetailsDialog(row.id)">details</i>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Add To Favorite">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <i class="material-icons grey md-36" (click)="addToFavorite(row.id)">stars</i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <div class="myButton">
    <button type="button" class="btn btn-light" (click)="openFavoriteList(favoriteList)">OPEN FAVORITE LIST</button>
  </div>
</div>

<ng4-loading-spinner [threshold]="0"> </ng4-loading-spinner>