table {
    background-color: whitesmoke;
    border-color: whitesmoke;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

/* th, td {
    width: 5%;
    height: 10%;
} */

.name {
    width: 200px;  
}

.desc {
    width: 300px;
}

.info {
    height: 300px;
}

#moviedescription {
    height: 40%;
}

h1 {
    color: whitesmoke;
}